<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="UserDb" connectionString="Server=DESKTOP-LC2Q8GK;Database=TestInterviewWCF;Trusted_Connection=True;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	<add key="keyHash" value="n3msd90sd120bfklf398mf0238934712" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
	<bindings>
	  <basicHttpBinding>
		  <binding name="soapBinding" />
	  </basicHttpBinding>
	</bindings>
	<services>
		<service name="Service.UserService" behaviorConfiguration="ServiceBehavior">
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="soapBinding" contract="Service.IUserService"/>
			<!--<endpoint address="" binding="netTcpBinding"  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"/>-->			
		</service>		
	</services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
